<%- include('partials/header') %> 
<div>
    <div class="stuff">
        <div class="company">
          <img src="img/crescendo.svg" alt="">
          <h1>Crescendo</h1>
        </div>
  
        <div class="logo-spotify">
          <img src="img/spotify.svg" alt="" class="mb-4" width="100" height="100">
        </div>
        
        <div class="login">
          <a class="btn btn-lg btn-block btn-spotify" href="/login">Sign in with Spotify</a>
        </div>
      </div>
</div>
<%- include('partials/footer') %> 