<%- include('partials/header') %>

    <div class="row">
        <h1>Where do you want to go first?</h1>
        <div class="col-sm-6">
            <div class="card">
                <a href="/tracks" class="btn btn-primary">Top Song</a>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <a href="/artists" class="btn btn-primary">Top Artist</a>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>