<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Crescendo</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <meta name="description" content="Know what you've been listening to bestie" />
    <meta property="og:title" content="Crescendo" />
    <meta property="og:description" content="Know what you've been listening to bestie" />
    <!-- <meta property="og:url" content="https://medium-clone-harsh.vercel.app/" /> -->
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">

    <link rel="stylesheet" href="css/tweet.css">

</head>

<body class="text-center">
    <div class="container flex">
        <div id="tweet">
            <div class="tweet-container">
                <div class="user pr">
                    <img src="img/spotify.svg" />
                    <div class="username">
                        <div class="name">Spotify <span class="handle"><br>@spotify</span></div>
                    </div>
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
                <div class="tweet-content pt">are you okay bestie? You have been playing <%=songsList[0].name%> a
                        lot lately. Do you need help?</div>

                <div class="date pt pb">
                    <%=time%> • <%=date%>, <%=year%> • Twitter Web App
                </div>


                <div class="rl pt pb">
                    <div class=retweets><b>15.4K</b> Retweets</div>
                    <div class="likes"><b>20.9K</b> Likes</div>
                </div>
            </div>
            <div class="credits">
                <p>Made by <a id="profile" href="http://www.github.com/harshmathurx">Harsh Mathur</a></p>

                <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
                    data-name="bmc-button" data-slug="harshmathurx" data-color="#FFDD00" data-emoji=""
                    data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000"
                    data-font-color="#000000" data-coffee-color="#ffffff"></script>
            </div>
        </div>

    </div>

</body>

</html>